
bin
obj
csx
.vs
edge
Publish
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

*.user
*.suo
*.cscfg
*.Cache
project.lock.json

/packages
/TestResults

/tools/NuGet.exe
/App_Data
/secrets
/data
.secrets
appsettings.json
#local.settings.json

.DS_Store
node_modules/
dist/
.idea
npm-debug.log
yarn-error.log
selenium-debug.log
test/unit/coverage
test/e2e/reports
